.winky {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #ffa0e7;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 5px 0 5px;
    text-align: center;
    color: white;
}

.opacity {
    border-radius: 50%;
    border: 2px solid black;
    width: 55px;
    background-color: #9dfc85;
}

.pageButton {
    border-radius: 25px;
    background-color: #9dfc85;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.pageButton:hover, a:hover {
    text-decoration: underline;
    color: #ff5353;
}

#header {
    font-size: 50px;
    margin: 2px 0;
}

h2 {
    text-decoration: underline;
    margin: 5px 0 0 0;
    font-size: 35px;
}

p {
    margin: 0 0 5px 0;
    font-size: 27px;
}

#selected {
    color: #fd6c6c;
    text-decoration: underline;
}

.important {
    font-style: italic;
    color: blue;
}

.art {
    width: 25%;
}
